<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New comment</title>
  </head>
  <body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
      <label for="username">Enter</label>
      <input id="username type="text" placeholder="username" name="username" />
      <br />
      <label for="comment">Comment text</label>
      <textarea id="comment" name="comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
