<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li><b>Price: </b> <%= product.price %></li>
      <li><b>Category: </b> <%= product.category %></li>
    </ul>
    <a href="/products">All products</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
