<%- include('partials/head') %>
<h1>Home <%=1 + 4 +5%></h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus quo
  quasi nam, vero aperiam perferendis, laborum laudantium eveniet qui labore
  amet vitae! Quod nisi alias quasi enim reiciendis veniam?
</p>
<%- include('partials/footer') %>
